<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - NeoWave</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <link rel="stylesheet" href="css/login.css">
</head>
<body class="registration-page">

  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark px-4">
    <a class="navbar-brand logo" href="#">
      <img src="IMG/neowavelogo.png" 
           alt="NeoWave Logo" 
           class="logo-img">
    </a>    
    <div class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="inicio">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="planes">Planes</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Contacto</a></li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid h-100">
    <div class="row h-100">
      
        <!-- COLUMNA IZQUIERDA: TEXTO + FORMULARIO -->
        <div class="col-md-12 d-flex flex-column align-items-center justify-content-center text-white position-relative content-left text-center">

        <h1 class="display-1 fw-bold welcome-title text-center">BIENVENIDO.</h1>
        <p class="lead mb-5 tagline text-center">
          “Un servicio donde la música cobra vida”
        </p>

        <div class="card form-card p-4">
          <form action="/login" method="POST">
            <div class="mb-3">
              <label class="form-label text-white-50">Correo electrónico o usuario</label>
              <input type="email" class="form-control dotted-input" name="email" placeholder="Ingresa tu correo" required>
            </div>
            <div class="mb-3 position-relative">
              <label class="form-label text-white-50">Contraseña</label>
              <input type="password" class="form-control dotted-input" name="password" placeholder="••••••••" required>
              <i class="fa-solid fa-eye-slash toggle-password"></i>
            </div>
            <button type="submit" class="btn btn-light btn-sm w-100 mb-3">Iniciar Sesión</button>
          
            <% if (typeof error !== 'undefined') { %>
              <div class="alert alert-danger mt-2"><%= error %></div>
            <% } %>
          </form>
          
          
          
          <p class="text-center mb-0">
            ¿No tienes cuenta? <a href="/registro" class="text-decoration-underline text-white">¡Regístrate!</a>
          </p>          
          </div>
      </div>


    </div>
  </div>

  <!-- Bootstrap 5 JS (opcional) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
